body {
    font-family: 'Helvetica', "Arial", serif;
    color: rgb(173, 116, 226);
    background-color: bisque;
    margin: 1em 10%;
}
h1 {
    color: coral;
    background-color: transparent;
}
a {
    color: #c60;
    background-color: transparent;
    font-weight: bold;
    text-decoration: none;
}
ul {
    padding: 0;
}
li {
    float: left;
    padding: 0.5em;
    list-style: none;
}
img {
    display: block;
    clear: both;
}
/* 使图片清单不带项目符号 */
#imagegallery {
    list-style: none;
}
/* 列表项横向显示 */
#imagegallery{
    display: inline;
}
/* 设置列表项图片 */
#imagegallery li a img{
    border: 2px solid orange;
    width: 60px;
    height: 90px;
}
